* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.main-container {
  width: 1365px;
  display: grid;
  /* grid-template-columns: 1fr 300px; */
  /* column-gap: 75px; */
  /* row-gap: 60px; */
  margin: 0 auto;
  background-color: #b5e2fa;
  align-items: start;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  text-transform: uppercase;
  margin-left: 10px;
  padding: 10px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
}
nav a:link {
  margin-right: 30px;
  display: inline-block;
}
/* Section Img  */
.bg {
  padding-top: 12%;
  /* padding-bottom: 10%; */
  padding-bottom: 6%;
  text-align: center;
  position: relative;
}
.bg::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(7, 6, 29, 0.37);
}
.bg .bg-inner {
  position: relative;
  z-index: 1;
}
.banner-form {
  margin-bottom: 60px;
  display: block;
  margin-top: 20px;
}
form {
  display: block;
  margin-top: 0em;
}
.step-item {
  display: inline-block;
  margin: 0 40px 0;
  position: relative;
}
.step-item svg {
  display: inline-block;
  width: 34px;
  height: 34px;
}
svg:not(:root) {
  overflow: hidden;
}
.step1:after,
.step2:after {
  position: absolute;
  content: "";
  right: -58%;
  top: -20%;
  width: 130px;
  height: 32px;
  background: url(../img/arrow.png);
}

.step2:after {
  background: url(../img/arrow.png);
  height: 25px;
  right: -95%;
  top: -15%;
}

@media (max-width: 568px) and (min-width: 280px) {
  .step1:after,
  .step2:after {
    display: none;
  }
  .hero h1 {
    font-size: 2.2em;
    padding-top: 75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .step-item {
    margin: 0 30px 0;
  }
}

@media (min-width: 430px) and (max-width: 932px) {
  .main-container {
    width: 430px;
  }
  .main-container h2 {
    font-size: 18px;
  }
  .main-container nav a {
    font-size: 10px;
  }
}

/* dish checkouts */
.dish-es {
  max-width: 1270px;
  width: 94%;
}
